{{> header}}
    <div class="contact">
      <h2 style="font-size: medium; padding: 1%;">Vous avez rencontrez des problème avec le site? 
        Vous avez remarquez q'une vidéo ne correspond pas au mot qui va avec?
        Voici notre adresse: signemoi.contacte@gmail.com
      </h2>
      <a href="mailto:mail@gmail.com?subject=HTML link"><h2>Cliquez ici pour nous envoyer un e-mail !</h2></a>
    </div>
  </head>
  {{> footer}}
<!-- <!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Contact</title>
</head>

<body>
    <h1>Contactez-nous</h1>
    <form method="post">
        <label>Votre email</label>
        <input type="email" name="email" required>
        <label>Message</label>
        <textarea name="message" required></textarea>
        <input type="submit">
    </form>
</body>
</html> -->