
{{> header}}
        <div class="log">
         
            <form action="/login" method="post">
              <h4 class="text mb-3">Entrez vote nom d'utilisateur</h4>
              <input class="input form-control mb-2" type="text" placeholder="username" name="name" value="">
              <h4 class="text mb-3">Entrez votre mot de passe</h4>
              <input class="input form-control mb-2"type="password" placeholder="password" name="password" value="">
              <p><input class="button btn mb-2 " type="submit" name="" value="se connecter"></p>
            </form> 
           
        </div>

{{> footer}}

 