{{> header}}

  <div id="test">
    <div>
      <h1>{{num_found}} mots trouvés {{#page}} (page {{page}}/{{num_pages}}) {{/page}}</h1>
    </div>


  <div  class="container ">
    <div class="row justify-content-md-center mb-3" >
      {{#results}}
      <div class="mb-3" style="width: 23rem;">
        <a class="card justify-content-md-center mb-3 bg-dark h-200" href="/read/{{entry}}" > 
          <p >{{key}}</p>
      
          <video  width="320" height="240" controls>
           <source src="{{video}}" type="video/webm">
          </video>
        {{#admin}}
            <a href="/update/{{entry}}">Modifier</a>
            <a href="/delete/{{entry}}">Supprimer</a>
        {{/admin}}
        </a>
        
      </div>
      {{/results}}
    </div> 
  </div>

  {{#next_page}}

    <div>
      <a href="/search?query={{query}}&page={{next_page}}" class="btn btn-outline-success">Page suivante</a>
    </div>

  {{/next_page}}

{{> footer}}
