{{> header}}


<div  class="container ">
  <div class="row justify-content-md-center mb-3 results" >

   
          <div>
            <h2>{{num_found}} mots correspondants </h2>
         </div>
      {{#results}}
      <div class=" mb-3 word " >
    
          <p  >{{key}}</p>
          <video  class="container-fluid" controls>
           <source src="{{video}}" type="video/webm">
          </video>
             {{#admin}}
              <a class="btn button2 w1 mb-3" href="/update/{{entry}}">Modifier</a>
              <a class="btn button2 w1 mb-3" href="/delete/{{entry}}">Supprimer</a>
             {{/admin}}
      
      <div>
   
        </div>
      </div>
         {{/results}}

      {{#next_page}}
      <div class="pos" >     
        <a href="/search?query={{query}}&page={{previous_page}}" class="btn button2 mb-3">Page précedante</a>
        <h2>{{#page}} page {{page}}/{{num_pages}} {{/page}}</h2>
        <a href="/search?query={{query}}&page={{next_page}}" class="btn button2 mb-3">Page suivante</a>
      </div>
      {{/next_page}}    
  </div> 

</div>

{{> footer}}